node_modules/
/test-results/
/playwright-report/
/playwright/.cache/

# dependencies
node_modules
**/node_modules

# editors
**/.idea
**/.#*
.vscode

# yarn
.yarn
.yarnrc

# npm
.npmrc

# production
/build
*.tgz
*.tar
